<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="filepath where your text information about Touenament will be"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="your sender email"/>
		<add key="displayName" value="Test"/>
	</appSettings>

	<connectionStrings>
		<add name="Tournaments" connectionString="Server=your server;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="host address" userName="name" password="password" port="port" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
